@import "~antd/dist/antd.css";

.App__layout {
  min-height: 100vh;
}

.App__content {
  background: #ffffff;
  margin: 0 50px;
  padding: 25px 50px;
}

.App__header {
  background: #ffffff;
  border-bottom: 5px solid #e0e0e0;
  height: 70px;
}
